<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\WebAPI.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		<security>
			<requestFiltering>
				<!-- Measured in Bytes -->
				<requestLimits maxAllowedContentLength="209715200" />
			</requestFiltering>
		</security>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: D03657E3-4E23-45B6-A11E-B8F69C0D9AD9-->